<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Books </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Books</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>The Alchemist</ion-card-title>
      <ion-card-subtitle>by Paulo Coelho</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Genre Icon"
              src="https://cdn4.iconfinder.com/data/icons/elega-music-controls/100/Genre-512.png"
            />
          </ion-thumbnail>
          <ion-label>Genre: Inspirational Fiction / Adventure</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Details Icon"
              src="https://us.123rf.com/450wm/urfandadashov/urfandadashov1809/urfandadashov180901373/109171366-personal-details-vector-icon-isolated-on-transparent-background-personal-details-logo-concept.jpg?ver=6"
            />
          </ion-thumbnail>
          <ion-label
            >Details:<br />
            A philosophical novel about a young Andalusian shepherd named
            Santiago who dreams of finding a worldly treasure. The story
            explores themes of destiny, personal growth, and the importance of
            following one's dreams. Written in a simple yet profound style, it
            has become a global bestseller and is often recommended for young
            adults. Originally published in Portuguese (O Alquimista) in 1988.
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Book Cover"
              src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1654371463i/18144590.jpg"
            />
          </ion-thumbnail>
          <ion-label>Book Logo</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- Card 2 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Atomic Habits</ion-card-title>
      <ion-card-subtitle>by James Clear</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Genre Icon"
              src="https://cdn4.iconfinder.com/data/icons/elega-music-controls/100/Genre-512.png"
            />
          </ion-thumbnail>
          <ion-label>Genre: Self-Help / Personal Development </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Details Icon"
              src="https://us.123rf.com/450wm/urfandadashov/urfandadashov1809/urfandadashov180901373/109171366-personal-details-vector-icon-isolated-on-transparent-background-personal-details-logo-concept.jpg?ver=6"
            />
          </ion-thumbnail>
          <ion-label
            >Details:<br />

            A practical guide to building good habits and breaking bad ones
            using small, incremental changes. The book emphasizes the power of
            compound growth in personal improvement. Popular among young adults
            for its actionable advice on productivity, discipline, and success.
            Published in 2018, it has sold millions of copies
            worldwide.</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Book Cover"
              src="https://m.media-amazon.com/images/I/513Y5o-DYtL._SY445_SX342_QL70_ML2_.jpg"
            />
          </ion-thumbnail>
          <ion-label>Book Logo</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
